RHT_OCP4_MASTER_API=https://api.ap45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ap45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ap45.prod.nextcle.com
RHT_OCP4_DEV_USER=datligent
RHT_OCP4_DEV_PASSWORD=9e156ccb33e24794a9ce
RHT_OCP4_GITHUB_USER=ematavo
RHT_OCP4_QUAY_USER=ematavo
